<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Carteira</title>
</head>
<body>
    <header>
        <section>
            <h1>Criptomoedas</h1>
        </section>
        <nav>
            <a href="{{ url_for('home') }}">Menu</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </nav>
    </header>
    <main class="main-dashboard-carteira">

        <section id="carteiras">
        </section>   

        <section id="adicionar-carteira">
            <button id="btn-adicionar">Adicionar Carteira</button>
            <div id="overlay-modal" class="overlay">
                <div class="modal">
                    <button class="btn-fechar-modal">
                        <img src="{{ url_for('static', filename='images/cruzado.png') }}">
                    </button>
                    
                    <input class="input-moedas" type="text" id="nome-carteira" placeholder="Nome da Carteira">
                    <div id="lista-moedas">
                        <select class="input-moedas" name="criptomoedas" id="select-moedas">
                        <option value="BTCUSDT">Bitcoin</option>
                        <option value="ETHUSDT">Ethereum</option>
                        <option value="SOLUSDT">Solana</option>
                        <option value="XRPUSDT">XRP</option>
                        <option value="BNBUSDT">BNB</option>
                        <option value="ADAUSDT">Cardano</option>
                        <option value="USDTBRL">USDT</option>
                        <option value="DOTUSDT">Polkadot</option>
                        <option value="AVAXUSDT">Avalanche</option>
                        <option value="LINKUSDT">Chainlink</option>
                        <option value="POLUSDT">Polygon</option>
                        <option value="UNIUSDT">Uniswap</option>
                        <option value="DOGEUSDT">Dogecoin</option>
                        <option value="PEPEUSDT">Pepe</option>
                    </select>
                    </div>
                    <input class="input-moedas" id="btn-quantidade" type="number" placeholder="Exemplo: 0.00524">
                    <div id="div-moedas-adicionadas">                      

                    </div>
                    <button id="btn-adicionar-moeda">Adicionar Criptomoeda</button>
                    <button id="btn-salvar">Salvar</button>
                </div>
            </div>
            <div id="overlay-modal" class="overlay">
                <div class="modal">
                </div>
            </div>


            <div id="overlay-modal-detalhes" class="overlay">
                <div class="modal">
                    <button class="btn-fechar-modal">
                        <img src="{{ url_for('static', filename='images/cruzado.png') }}">
                    </button>

                    <div id="informacoes-carteira"></div>

                    <details>
                        <summary>Adicionar Criptomoeda</summary>
                        <div id="lista-moedas">
                            <select class="input-moedas" name="criptomoedas" id="select-moedas-detalhe">
                                <option value="BTCUSDT">Bitcoin</option>
                                <option value="ETHUSDT">Ethereum</option>
                                <option value="SOLUSDT">Solana</option>
                                <option value="XRPUSDT">XRP</option>
                                <option value="BNBUSDT">BNB</option>
                                <option value="ADAUSDT">Cardano</option>
                                <option value="USDTBRL">USDT</option>
                                <option value="DOTUSDT">Polkadot</option>
                                <option value="AVAXUSDT">Avalanche</option>
                                <option value="LINKUSDT">Chainlink</option>
                                <option value="POLUSDT">Polygon</option>
                                <option value="UNIUSDT">Uniswap</option>
                                <option value="DOGEUSDT">Dogecoin</option>
                                <option value="PEPEUSDT">Pepe</option>
                            </select>
                        </div>
                        <input class="input-moedas" id="input-quantidade-detalhe" type="number" placeholder="Exemplo: 0.00524">
                        <button id="btn-adicionar-moeda-detalhe">Adicionar Criptomoeda</button>
                    </details>

                </div>
            </div>
        </section>

    </main>
    <script src="{{ url_for('static', filename='js/carteira.js') }}"></script>
</body>
</html>