<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/styles.css">
    <title>Carteira</title>
</head>
<body>
    <header>
        <section>
            <h1>Criptomoedas</h1>
        </section>
        <nav>
            <a href="index.html">Menu</a>
            <a href="dashboard.html">Dashboard</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Carteira</h2>
            <p>Carteira mostrada aqui</p>
        </section>
    </main>
</body>
</html>