<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/styles.css">
    <title>Carteira</title>
</head>
<body>
    <header>
        <section>
            <h1>Criptomoedas</h1>
        </section>
        <nav>
            <a href="index.html">Menu</a>
            <a href="dashboard.html">Dashboard</a>
        </nav>
    </header>
    <main>

        <section id="carteiras">

            <article class="carteira">
                <div class="info-carteira">
                    <h4 class="h4-carteira">Carteira 1</h4>
                    <p class="p-carteira">Valor total: R$ --</p>
                </div>
                <div class="acoes-carteira">
                    <button class="btn-detalhes">Ver detalhes</button>
                    <button class="btn-apagar">Apagar</button>
                </div>
            </article>

            <article class="carteira">
                <div class="info-carteira">
                    <h4 class="h4-carteira">Carteira 2</h4>
                    <p class="p-carteira">Valor total: R$ --</p>
                </div>
                <div class="acoes-carteira">
                    <button class="btn-detalhes">Ver detalhes</button>
                    <button class="btn-apagar">Apagar</button>
                </div>
            </article>

            <article class="carteira">
                <div class="info-carteira">
                    <h4 class="h4-carteira">Carteira 3</h4>
                    <p class="p-carteira">Valor total: R$ --</p>
                </div>
                <div class="acoes-carteira">
                    <button class="btn-detalhes">Ver detalhes</button>
                    <button class="btn-apagar">Apagar</button>
                </div>
            </article>

            <article class="carteira">
                <div class="info-carteira">
                    <h4 class="h4-carteira">Carteira 4</h4>
                    <p class="p-carteira">Valor total: R$ --</p>
                </div>
                <div class="acoes-carteira">
                    <button class="btn-detalhes">Ver detalhes</button>
                    <button class="btn-apagar">Apagar</button>
                </div>
            </article>

            <article class="carteira">
                <div class="info-carteira">
                    <h4 class="h4-carteira">Carteira 5</h4>
                    <p class="p-carteira">Valor total: R$ --</p>
                </div>
                <div class="acoes-carteira">
                    <button class="btn-detalhes">Ver detalhes</button>
                    <button class="btn-apagar">Apagar</button>
                </div>
            </article>
        </section>

        <section id="adicionar-carteira">
            <button id="btn-adicionar">Adicionar Carteira</button>
            <div id="overlay-modal" class="overlay">
                <div class="modal">
                    <button class="btn-fechar-modal">
                        <img src="/frontend/images/cruzado.png">
                    </button>
                    
                    <input class="input-moedas" type="text" id="nome-carteira" placeholder="Nome da Carteira">
                    <div id="lista-moedas">
                        <select class="input-moedas" name="criptomoedas" id="select-moedas">
                            <option value="bitcoin">Bitcoin</option>
                            <option value="ethereum">Ethereum</option>
                            <option value="solana">Solana</option>
                            <option value="xrp">XRP</option>
                            <option value="BNB">BNB</option>
                            <option value="cardano">Cardano</option>
                            <option value="usdt">USDT</option>
                            <option value="polkadot">Polkadot</option>
                            <option value="avalanche">Avalanche</option>
                            <option value="chainlink">Chainlink</option>
                            <option value="polygon">Polygon</option>
                            <option value="uniswap">Uniswap</option>
                            <option value="dogecoin">Dogecoin</option>
                            <option value="pepe">Pepe</option>
                        </select>
                    </div>
                    <input class="input-moedas" id="btn-quantidade" type="number" placeholder="Exemplo: 0.00524">
                    <button id="btn-adicionar-moeda">Adicionar Criptomoeda</button>
                    <button id="btn-salvar">Salvar</button>
                </div>
            </div>
            <div id="overlay-modal" class="overlay">
                <div class="modal">
                    ...
                </div>
            </div>

            <div id="overlay-modal-detalhes" class="overlay">
                <div class="modal">
                    <button class="btn-fechar-modal">
                        <img src="/frontend/images/cruzado.png">
                    </button>
                    <h2>Detalhes da Carteira</h2>
                </div>
            </div>
        </section>

    </main>
    <script src="/frontend/static/js/carteira.js"></script>
</body>
</html>