<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <section>
            <h1>LiveCoin</h1>
        </section>
        <nav>
            <a href="{{ url_for('home') }}">Menu</a>
            <a href="{{ url_for('carteira') }}">Carteira</a>
        </nav>
    </header>
    <main class="main-dashboard-carteira">
        <section id="sec-cripto">
            <h2 class="h2-cripto">Mercado</h2>

            <div id="informacoes">
                <h4>Moeda</h4>
                <h4>Preço</h4>
                <h4>Variação 24h</h4>
            </div>

            <div class="div-cripto" id="BTCUSDT">
                <h4>Carregando valores do Bitcoin...</h4>
            </div>

            <div class="div-cripto" id="ETHUSDT">
                <h4>Carregando valores do Ethereum...</h4>  
            </div>

            <div class="div-cripto" id="SOLUSDT">
                <h4>Carregando valores da Solana...</h4>
            </div>

            <div class="div-cripto" id="XRPUSDT">
                <h4>Carregando valores do XRP...</h4>
            </div>

            <div class="div-cripto" id="BNBUSDT">
                <h4>Carregando valores do BNB...</h4>
            </div>

            <div class="div-cripto" id="ADAUSDT">
                <h4>Carregando valores do Cardano...</h4>
            </div>

            <div class="div-cripto" id="USDTBRL">
                <h4>Carregando valores do USDT...</h4>
            </div>
            
            <div class="div-cripto" id="DOTUSDT">
                <h4>Carregando valores do Polkadot...</h4>
            </div>
            
            <div class="div-cripto" id="AVAXUSDT">
                <h4>Carregando valores do Avalanche...</h4>
            </div>
            
            <div class="div-cripto" id="LINKUSDT">
                <h4>Carregando valores do Chainlink...</h4>
            </div>
            
            <div class="div-cripto" id="POLUSDT">
                <h4>Carregando valores do Polygon...</h4>
            </div>
            
            <div class="div-cripto" id="UNIUSDT">
                <h4>Carregando valores do Uniswap...</h4>
            </div>
            
            <div class="div-cripto" id="DOGEUSDT">
                <h4>Carregando valores do Dogecoin...</h4>
            </div>

            <div class="div-cripto" id="PEPEUSDT">
                <h4>Carregando valores do Pepe...</h4>
            </div>

        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>