<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Site cripto</title>
</head>
<body>
    <header>
        <section>
            <h1>Criptomoedas</h1>
        </section>
        <nav>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('carteira') }}">Carteira</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bem-vindo ao site de criptomoedas sem nome!</h2>
            <h3>Veja o valor das criptomoedas e da sua carteira digital em tempo real</h3>
        </section>
    </main>
    <footer>
        <p>Quem somos?</p>
        <p>Futuramente...</p>
    </footer>
</body>
</html>